.phone-input-container {
    margin-bottom: 10px;
  }
  
  .phone-input-wrapper {
    margin-top: 3%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    height: 50%
  }
  
  .phone-input-wrapper span {
    margin-right: 5px;
  }
  .divider {
    height: 100%;
    border-left: 1px solid #ccc;
    margin: 0 5px;
  }
  .desktopView{
    display: block;
  }
  .mobileView{
    display: none;
  }

  #main {
    margin: 50px 0;
  }
  
  #main #faq .card {
    margin-bottom: 10px;
    border: 0;
  }
  
  #main #faq .card .card-header {
    border: 0;
    /* -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5); */
    border-radius: 2px;
    padding: 0;
  }
  
  #main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    /* background: #FFE472; */
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    padding: 20px;
  }
  
  #main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed {
    /* background: #A541BB; */
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
  }
  
  #main #faq .card .collapsing {
    /* background: #FFE472; */
    line-height: 30px;
  }
  
  #main #faq .card .collapse {
    border: 0;
  }
  
  #main #faq .card .collapse.show {
    /* background: #FFE472; */
    line-height: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  }

  .desktopView{
    overflow: hidden; 
  }
  .horizantal_line {
    border: 1px solid white !important;
    margin: 0px  30px !important ;
  }
  .horizantal_line_mobile {
    border: 1px solid white !important;
    margin: 0px  0px !important ;
  }
  .mobile_banner {
    height: 350vh;
  }

  .card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

  @media only screen and (max-width: 600px) {
    .desktopView{
        display: none;
    }
    .mobileView{
        display: block;
      }
  }

  @media only screen and (max-width: 375px) {
    .mobile_banner {
      height: 390vh !important;
    }
  }

  @media only screen and (max-width: 430px) {
    .mobile_banner {
      height: 320vh;
    }
  }
  @media only screen and (max-width: 520px) {
    .mobile_banner {
      height: 380vh !important;
    }
  }
  